html,
body {
  height: 100%;
}
* {
  box-sizing: border-box;
}
#root {
  height: 100%;
}
#totals {
  height: 10%;
  font-family: "Cinzel", serif;
}
#diceWrapper {
  height: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.diceItem {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 33%;
  height: 30%;
  outline: 1px solid red;
}
.roll {
  text-align: center;
  height: 25%;
  font-size: 2rem;
  margin-top: 1vh;
  font-family: "Cinzel", serif;
}
button {
  width: 100%;
  height: 15vh;
  font-family: "Lato", sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  background-color: transparent;
  border: none;
  position: absolute;
}
.shapeContainer {
  position: relative;
  margin-bottom: 5%;
  width: 60%;
  max-width: 100px;
  max-height: 130px;
  background-color: transparent;
  align-self: center;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.shapeContainer:after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
.triangle {
  --border: 100px;
  position: absolute;
  width: 0;
  height: 0;
  margin-top: 15%;
  border-left: var(--border) solid transparent;
  border-right: var(--border) solid transparent;
  border-bottom: calc((var(--border) + var(--border)) * 0.866) solid black;
}
.triangleContent {
  color: white;
  z-index: 1;
  align-self: baseline;
}
.square {
  position: absolute;
  align-self: center;
  background-color: lightblue;
  width: 80%;
  height: 80%;
}
.squareContent {
  align-self: center;
  z-index: 1;
}
.hexTriTopContainer {
  position: absolute;
  width: 100%;
  height: 30%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.hexTriTop {
  --border: 100px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--border) solid transparent;
  border-right: var(--border) solid transparent;
  border-bottom: 76px solid blue;
}
.hexRec {
  position: absolute;
  align-self: center;
  background-color: blue;
  width: 80%;
  height: 40%;
}
.hexTriBottomContainer {
  position: absolute;
  width: 100%;
  height: 30%;
  margin-top: 50%;
  display: flex;
  justify-content: center;
  align-self: flex-end;
  overflow: hidden;
}
.hexTriBottom {
  --border: 100px;
  position: absolute;
  width: 0;
  height: 0;
  align-self: flex-end;
  border-left: var(--border) solid transparent;
  border-right: var(--border) solid transparent;
  border-top: 76px solid blue;
}
.hexContent {
  color: white;
  align-self: center;
  z-index: 1;
}
.rhomTriTopContainer {
  position: absolute;
  width: 100%;
  height: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.rhomTriTop {
  --border: 100px;
  position: absolute;
  width: 0;
  height: 0;
  border-left: var(--border) solid transparent;
  border-right: var(--border) solid transparent;
  border-bottom: 120px solid green;
}
.rhomTriBottomContainer {
  position: absolute;
  width: 100%;
  height: 50%;
  margin-top: 50%;
  display: flex;
  justify-content: center;
  overflow: hidden;
}
.rhomTriBottom {
  --border: 100px;
  position: absolute;
  width: 0;
  height: 0;
  align-self: flex-end;
  border-left: var(--border) solid transparent;
  border-right: var(--border) solid transparent;
  border-top: 120px solid green;
}
.rhombusContent {
  color: white;
  align-self: center;
  z-index: 1;
}
